.login {
  height: 56px;
  width: 277px;
}

.login .overlap-2 {
  height: 190px;
  left: -20px;
  position: relative;
  width: 301px;
}

.login .overlap-3 {
  height: 190px;
  left: 0;
  position: absolute;
  top: 0;
  width: 301px;
}

.login .sign-up {
  height: 56px;
  left: 142px;
  position: absolute;
  top: 0;
  width: 157px;
}

.login .div-wrapper {
  border: 2px solid;
  border-color: #528792;
  border-radius: 10px;
  height: 56px;
  position: relative;
  width: 155px;
}

.login .text-wrapper-18 {
  color: #528792;
  font-family: "Montserrat", Helvetica;
  font-size: 27px;
  font-weight: 400;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
}

.login .img-2 {
  height: 146px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 301px;
}

.login .group-6 {
  height: 34px;
  left: 20px;
  position: absolute;
  top: 10px;
  width: 103px;
}

.login .text-wrapper-19 {
  color: #10333a;
  font-family: "Montserrat", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.login .overlap-group-wrapper {
  height: 56px;
  left: 122px;
  position: absolute;
  top: 0;
  width: 157px;
}

.login .group-7 {
  height: 34px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 103px;
}

.login.property-1-default {
  position: relative;
}
